<mat-card>
  <mat-card-content>
    <mat-form-field fxFlexFill>
      <input [(ngModel)]="group.name"
             name="group-name"
             matInput
             required
             #groupName
             maxlength="20"
             placeholder="Group Name">
      <mat-hint align="start">
        <strong>Fill in a name of group.</strong>
      </mat-hint>
      <mat-hint align="end">{{groupName.value.length}} / 20</mat-hint>
    </mat-form-field>

    <div class="vertical-gap">
      <label class="members">Member List ({{group.members.length}})</label>
    </div>

    <div fxLayout="row">
      <mat-form-field>
        <input [(ngModel)]="member.name"
               name="member-name"
               matInput
               #memberName
               placeholder="DisplayName">
        <mat-hint align="start">
          <strong>Same as name in bitbucket</strong>
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="member.userName"
               name="member-user-name"
               matInput
               placeholder="UserName (optional)">
      </mat-form-field>

      <button mat-mini-fab
              color="primary"
              [disabled]="memberName.value.length === 0"
              (click)="onAddMember()">
          <mat-icon>add</mat-icon>
        </button>
    </div>

    <app-list [list]="group.members"
              [showDetail]="true"
              (removeItem)="onRemoveMember($event)"></app-list>
  </mat-card-content>

  <mat-card-actions class="vertical-gap">
    <div class="footer"
         fxLayout="row"
         fxLayoutAlign="space-around center">
      <button mat-fab
              color="primary"
              type="button"
              (click)="onSave()"
              [disabled]="groupName.value.length === 0">
        <mat-icon aria-label="Save current data">save</mat-icon>
      </button>
      <button mat-fab
              color="accent"
              type="button"
              (click)="onBack()">
        <mat-icon aria-label="Cancel and Go back">clear</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
